back{
    color: pink;
}

.header{
    color: skyblue;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
}

.subheader{
    color: red;
    font-size: 20px;
    text-align: center;
    margin-top: 25px;
}